<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go1 Bulk Certificates Download</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   
    <style>
        #processing-message {
            color: rgb(0, 255, 64);
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <form action="{{ url_for('submit_form') }}" method="post" onsubmit="return validateForm()">
            <label for="jwtvalue">JWT Value:</label>
            <input type="text" id="jwtvalue" name="jwtvalue" required>
            <br>
            <label for="ids">Enrollment IDs (separated by space):</label>
            <input type="text" id="ids" name="ids" required>
            <br>
            <button type="submit" onclick="showProcessingMessage()">Submit</button>
            <div id="processing-message"></div>
        </form>
    </div>

    <script>
        function validateForm() {
            const jwtValue = document.getElementById("jwtvalue").value;
            const ids = document.getElementById("ids").value;
            const processingMessage = document.getElementById("processing-message");

            if (jwtValue.trim() === "" || ids.trim() === "") {
                processingMessage.innerHTML = "Fields cannot be left blank.";
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        }

        function showProcessingMessage() {
            const processingMessage = document.getElementById("processing-message");
